header {
  display: flex;
  gap: 10px;
  width: 100%;
  background-color: darkslategray;
  color: #d0d0d0;
  justify-content: space-around;
}

nav {
  height: 50%;
  width: 30%;
  align-items: end;
}

nav a {
  padding: 10px;
  color: white;
}

#partyInfoForm {
  width: 20%;
  padding-left: 100px;
}

.listDisplay {
  /* position: absolute; */
  width: 99%;
}

#difficultyDisplay {
  width: 30%;
  margin: 20px;
}

#difficultyList {
  width: 20%;
}

#difficultyList ul {
  list-style-type: none;
  padding-left: 0;
}

#encounterDisplay {
  border: black;
  border-width: 2px;
  border-style: solid;
  margin-bottom: 10px;
  height: 150px;
  overflow: scroll;
  padding-top: 10px;
}

#encounterDisplay li {
  list-style: none;
  padding-left: 0;
  padding-bottom: 10px;
}

#enemyList {
  border: black;
  border-width: 2px;
  border-style: solid;
  height: 500px;
  overflow: scroll;
  padding-top: 10px;
}

#enemyList li {
  list-style: none;
  padding-left: 0;
  padding-bottom: 10px;
}

.enemy {
  list-style: none;
  border: black;
  border-width: 1px;
  border-style: solid;
  width: 50%;
}

.addRemoveButton {
  margin-left: 20px;
  margin-right: 0px;
}

.enemy li {
  display: inline;
  padding-right: 10px;
}
